<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionappisolated-2205110040007531.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/90d7af21-b3a1-4bf8-a149-8e1fcc47e337/resourceGroups/rg-jreyescarm-2205110040007531/providers/Microsoft.Web/sites/FunctionAppIsolated-2205110040007531</ResourceId>
    <UserName>$FunctionAppIsolated-2205110040007531</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionappisolated-2205110040007531.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>